.notfound {
	padding-top: 100px;
	&_inner {
		max-width: 1200px;
		padding: 60px 30px;
		box-sizing: border-box;
		margin: 0px auto;
	}


	a {
		display: grid;
		grid-template-columns: 100px;
		gap: 20px 10px;
		

	}
}
