.AddressAPI {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  &_inner {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
    border-top: 40px solid #ffc800;
  }
  &_close {
    position: absolute;
    top: -35px;
    right: 15px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 1;
    font-size: 0;
    svg {
      width: 30px;
      cursor: pointer;
      fill: #632ed8;
    }
  }
}
